.infoBlock {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 70px 27%;
    gap: 80px;
    &_img {
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;    
    }
    &_info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        h2 {
            color: #000;
            font-family: Merienda;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
        }
        p {
            color: #000;
            text-align: center;
            font-family: Merienda;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 5px 0;
        }
    }
    
}



@media (max-width: 768px) {
    .infoBlock {
        flex-wrap: wrap;
        gap: 30px 80px;
    }
}